
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
}

header {
    background-color: red;
    color: whitesmoke;
    padding: 20px;
    text-align: center; 
}

header h1 {
    margin: 0;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}


main {
    padding: 20px;
}


section {
    margin-bottom: 30px;
}


#about-me h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
}


img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}

label {
    color: white
}

#text-block {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#fff
}


#published-works h2{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.first-work img {
    width: 100%;
    height: auto;
}

.first-work .text {
    text-align: center;
}

.second-work .text {
    text-align: center;
}

.text{
    position: relative;
}

#contact-me h2 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
#contact-me label {
    display: block;
    margin-bottom: 5px;
}

#contact-me input,
#contact-me textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#contact-me button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}

#contact-me button:hover {
    background-color: whtie;
}
